/* Genel stil ayarları */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
    color: #333;
}

h2, h3 {
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

h2:hover, h3:hover {
    color: #FF6347; /* Hover durumunda renk değişir */
}

#slider {
    background-color: #4CAF50;
    color: white;
    padding: 40px 0;
    text-align: center;
    animation: slideIn 3s ease-in-out;
}

@keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

#menu, #about, #contact {
    padding: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#menu ul, #about ul {
    list-style-type: none;
    padding-left: 0;
}

#menu li, #about li {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 0;
    transition: background-color 0.3s ease;
}

#menu li:hover, #about li:hover {
    background-color: #FF6347; /* Hover durumunda renk değişir */
}

#contact .contact-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

.contact-form {
    background-color: #FF6347;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    animation: bounceIn 2s ease-in-out;
}

@keyframes bounceIn {
    0% { transform: scale(0); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.contact-form h3 {
    margin-bottom: 15px;
    font-size: 1.3em;
    color: white;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: #FF6347; /* Focus durumunda kırmızı renk */
}

.contact-form button {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #FF6347; /* Hover durumunda renk değişir */
}

/* Responsive Design */
@media (max-width: 768px) {
    #about .about-grid {
        grid-template-columns: 1fr;
    }
}
